#cart{
    min-height: 400px;
    img{
        object-fit: cover;
        width: 100px;
    }
    .product-info,
    .quantity,
    .remove{
        text-align: center;
    }
    .quantity{
        letter-spacing: 10px;
    }
    .remove{
        &:hover{
            color: #ff7f00;
            cursor: pointer;
        }
    }
    .fas{
        &:hover{
            color: #ff7f00;
            cursor: pointer;
        }
    }
}
