.card {
	img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
	h3 {
		font-size: 20px;
	}
	p, h3, button, span, label{
		margin: 15px;
	}
	select {
		margin: 0 0 15px 15px ;
		width: 50%;
	}
}

.section-title h2 {
	text-align: center;
}
